body {

    margin: 0;

}

main {

    width: 35vw;
    border: 1px solid rgb(218, 217, 217);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: auto;

}

img[alt=sunglasses] {

    width: 100%;
    margin: 0;
    padding: 0;

}

.time {

    text-align: center;
    font-weight: 400;
    font-size: 20px;
    background: rgb(196, 196, 196);
    margin-top: -5px;
    padding: 5px;

}

h1 {

    text-align: center;
    font-size: 20px;
}

p {

    text-align: justify;
    margin: 5px;
}

.futer {

    background: rgb(0, 0, 0);
    padding: 5px;
    color: white;
}

a {

    color: black;
}

.like {
    float: right;
}

.number {

    padding-top: -3px;
    font-size: 18px;
}

.rating_block {
    width: 125px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;

  }
  .rating_block input[type="radio"] {
    display: none;
  }
  .label_rating {
    float: right;
    display: block;
    width: 25px;
    height: 25px;
    background: url(https://simplamarket.com/files/uploads/rating.png) no-repeat 50% 0;
    cursor: pointer;
  }
  /*Пишем правила смены положения background-а*/
  .rating_block .label_rating:hover, /*Правило для ховера на текущий лейбл*/
  .rating_block .label_rating:hover ~ .label_rating, /*Правило для всех следующих лейблов по DOM дереву*/
  .rating_block input[type="radio"]:checked ~ .label_rating /*Правило для всех следующих лейблов после выбранного инпута, чтобы звездочки как бы зафиксировались*/
  {
    background-position: 50% -25px;
  }
  