
body {
  
  margin: 0;
  
}


main {  
    width:600px;
    background: linear-gradient(125deg, rgb(54,81,217),
    rgb(207,56,148));
    position: fixed;
    padding-left: 10px;
    padding-right: 10px;
    
}

p {
    color: white;
    text-align: justify;
}

h1 {
    color: white;
    text-shadow: 2px 2px 2px white;
}

.order-button {
    background:#FB633C;
    color: white;
    font-weight: 800;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;

}

.info-button {
    background:#6072E0;
    color: white;
    font-weight: 800;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;

}